body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
}
.bg {
    background: url(desert-1270345_960_720.jpg);
    background-size: 100%;
    width: 100%;
    height: 100%;
    opacity: 0.1;
}

.loading-text {
    font-size: 40px;
    position: absolute;
    left: 45%;
    top: 40%;
    color: black;
}
